[Unit]
Description=Qniverse Services
After=network.target

[Service]
User=qniverse
Group=qacc
WorkingDirectory=/opt/qniverse-services

Environment="PATH=/opt/qniverse-services/venv/bin"
Environment="PACKAGE_BASE_DIR=/opt/qniverse-services/packages"

ExecStart=/opt/qniverse-services/venv/bin/python -m uvicorn src.main:app \
    --host 0.0.0.0 --port 8000 --workers 4

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
